body{

}
li{
    padding: 15px;
}
.header{
    margin: 30px;
    font-size: 25px;
    justify-content: right;
    display: flex;
}
.order{
    margin: auto;
    display: inline-block;
}
.order-info{
    margin: auto;
    display: inline-block;
}